<br>

<div class="container">
  <div class="jumbotron">
    <h2>PLANNED</h2>
    <hr>
    <div class="row">
      <div class="col-md-1 offset-md-1">
       <div class="form-group">
        <label for="plan"><b>PLAN</b></label>
      </div>
      </div>
      <div class="col-md-4">
        <input type="text" #names name="plan" id="plan" class="form-control ">
      </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col-md-1 offset-md-1">
       <div class="form-group">
        <label for="section"><b>SECTION</b></label>
      </div>
      </div>
      <div class="col-md-4">
        <input type="text" name="section" id="section" class="form-control ">
      </div>
    </div>
    <br>
    <div class="input">
    <div class="row control add-more">
      <div class="col-md-1 offset-md-1">
       <div class="form-group">
        <label for="planLength"><b>Length</b></label>
      </div>
      </div>
      <div class="col-md-3">
        <input type="text" #length name="planLength[]"  class="form-control planLength">
      </div>
      <div class="col-md-1">
          <div class="form-group">
              <label for="planQty"><b>Quantity</b></label>
            </div>
      </div>
     
      <div class="col-md-3">
          <input type="text" #plan name="planQty[]" id="planQty" class="form-control">
        </div>

        <div class="col-md-1">
          <button class="btn btn-primary" id="addbutton"> Add</button>
        </div>
    </div>
    </div>
  
<button type="button" id="submit"  class="btn btn-primary">Submit</button>
    
  </div>
</div>


